.lineItem {
    display: flex;
    flex-direction: row;

    padding: 0.25rem 0;
    align-items: center;

    .description {
      flex: 3;
      font-weight: 600;
    }
    .quantity {
      text-align: right;
    }
    .price {
      flex: 1;
      text-align: right;
    }
    .itemTotal {
      flex: 1;
      font-weight: 500;
      text-align: right;
    }


    .editToolbar {
        display: flex;
        flex-direction: row;
        gap: 0.2em;
        margin-right: 0.5em;

    }
  }