.orders {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    gap: 1em;
    
    padding: 0.5em;
}

.order {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    font-size: 0.8em;
    gap: 1em;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5em;
    }
}

.orderNumber {
    background-color: black;
    color: white;
}
.overdue {
    color: red;
}