.status {
    color: white;
}

.created,
.paid {
    background-color: var(--order-new);
}

.preparing {
    background-color: var(--order-preparing);
}

.completed {
    background-color: var(--order-done);
}