:root {
  --theme-primary-50: #f8fafc;
  --theme-primary-100: #f1f5f9;
  --theme-primary-200: #e2e8f0;
  --theme-primary-300: #cbd5e1;
  --theme-primary-400: #94a3b8;
  --theme-primary-500: #64748b;
  --theme-primary-600: #475569;
  --theme-primary-700: #334155;
  --theme-primary-800: #1e293b;
  --theme-primary-900: #0f172a;
  --theme-primary-950: #020617;

  --theme-primary: var(--theme-primary-500);
  --background: white;
  --text-primary: black;

  --order-new: var(--theme-primary-300);
  --order-preparing: #fee1b2;
  --order-done: #bbf9c5;
  --order-collected: #bbc5f9;
  --order-cancelled: #f9bbbb;
  
}
