.order {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  padding: 1em;

  .lineItem {
    display: flex;
    flex-direction: row;

    padding: 0.25rem 0;

    > span:first-child {
      flex: 3;
      font-weight: 600;
    }
    > span:nth-child(2) {
      flex: 1;
      text-align: right;
    }
    > span:nth-child(3) {
      flex: 1;
      font-weight: 500;
      margin-left: auto;
      text-align: right;
    }
  }
}

.total {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  font-size: 1.2rem;

  margin-top: auto;
  margin-bottom: 1em;

  > span:first-child {
    flex: 3;
    font-weight: 600;
  }

  > span:last-child {
    flex: 1;
    font-weight: 500;
    margin-left: auto;
    text-align: right;
    font-size: 2rem;
  }
}
